[submodule "eigen"]
	path = nanoflare/eigen
	url = https://gitlab.com/libeigen/eigen.git
[submodule "json"]
	path = nanoflare/json
	url = https://github.com/nlohmann/json.git
[submodule "fmt"]
	path = tests/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "tests/Catch2"]
	path = tests/Catch2
	url = https://github.com/catchorg/Catch2.git
